* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3e3e3e;
    background: url(./images/darkened_gaming_chair.png) no-repeat 0 0;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
}

header {
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    font-size: 1.2ex;
    z-index: 2;
}

.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.4em;
    letter-spacing: 0.5px;
}

.logo img {
    width: 40px;
    margin-right: 8px;
}

.menu-list li {
    list-style: none;
    display: inline-block;
    margin-left: 44px;
    cursor: pointer;
    transition: color 0.5s ease;
}

.menu-list li:hover,
.menu-list li.active {
    color: skyblue;
}

.main {
    padding-top: 90px;
    display: flex;
    position: relative;
    flex: 1;
}

.left {
    max-width: 50%;
    padding: 0 64px;
}

.title {
    font-size: 2.8em;
    letter-spacing: 1px;
    margin: 48px auto;
}

.msg {
    max-width: 80%;
    font-size: 1em;
    letter-spacing: 0.7px;
    line-height: 32px;
    margin-bottom: 48px;
}

button.cta {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 30px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 30px;
    box-shadow: 7px 12px 20px rgba(0, 0, 0, 0.05);
    transition: background-color 0.5s;
}

button.cta:hover {
    background-color: #b30000;
}

button span {
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 3px;
    font-weight: bold;
}

button.cta i {
    font-size: 1.7em;
    margin-left: 16px;
}
 
.right {
    paddling: 40px 0 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right img {
   max-width: 450px;
}

.colors {
    display: flex;
    border-top: 3px dotted white;
}

.colors .item {
    position: relative;
    display: flex;
    justify-content: center;
    align-item: center;
    min-width: 120px;
    min-height: 180px;
    padding-top: 40px;
}

.item img {
    position: relative;
    width: 200px;
    cursor: pointer;
    transition: width 0.5s;
}

.item img:hover {
    width: 70px;
}

.item .color-selector {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: skyblue;
    width: 16px;
    height: 16px;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 50%;
    transition: 0.5s;
}

.item.blue .color-selector {
    background-color: blue;
}

.item.red .color-selector {
    background-color: red;
}

.item.black .color-selector {
    background-color: black;
}

.item:first-child {
    transform: translateX(-50%);
}

.item:last-child {
    transform: translateX(50%);
}

.item.active img {
    width: 130px;
}

.item.active .color-selector {
    width: 20px;
    height: 20px;
}

.line.active {
    min-width: 220px;
}

.additional-info {
    background-color: white;
    border-radius: 16px;
    position: absolute;
    left: 50%;
    width: 100%;
    text-align: right;
    padding: 16px 24px;
    line-height: 28px;
    font-size: 1.1em;
    letter-spacing: 0.5px;
    font-weight: bold;
}
